@charset "UTF-8"

body {
    background-color: hsl(119, 23%, 39%);
}

h1 {
    color: chartreuse;
}

h1#pricipal {
    text-align: center;
    background-color: darkgreen;
    color: white;
}

h2{
    color: rgb(51, 77, 49);
}